<%= form_for [refinery, :project_menus_admin, @project_menu] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @project_menu,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :category_code -%>
    <%= f.text_field :category_code -%>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.project_menus.admin.project_menus.project_menu'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @project_menu.name) -%>
<% end -%>
